/* 重置屬性 */
*{
    margin: 0;
    padding: 0;
}


body{ 
    width: 999px;
    margin: 0 auto;
    font-family:微軟正黑體; 
}

#header{
    height: 100px;
    background-color: white;
}

#header .logo{
    width: 250px;
    height: 30px;
    background-color: tomato;
    float: left;
    margin: 36px 0px 34px 17px;
}

#header .search{
    /* 原227-邊框2=225 */
    width: 225px;
    /* 原28-邊框2=26 */
    height: 26px;
    background-color:#e5e5e5;
    float: right;
    margin: 39px 19px 33px 0px;
    border: 1.5px solid #f1f1f1; 
}

#header .search form input:focus{  
    outline:none
}

#header .search .se-text{
    /* 原201-pa15=186 */
    width: 186px;
    height: 26px;
    float: left;
    border: none;
    padding-left: 15px;
    font-size: 10px;
    background: #f1f1f1;
}


#header .search .se-bt{
    width: 24px;
    height: 26px;
    float: left;
    /* 很大的問題!!!!!! */
    background:url("../img/se_bt.png") no-repeat  center;
    border: none; 
}

#nav{
    height:60px;
    background-color: #323232;
}

#nav ul{
    list-style: none;
    font-size: 13px;
    padding-left: 28px;
}

#nav ul li{
    float: left;
    width: 118px;
    height: 58px;
    text-align: center;
    line-height: 60px;
    border-left:1px solid #4b4b4b; 
}

#nav ul .first{
    border-left: none;
}

#nav ul li a{
    color: white;
    text-decoration: none;
}

#banner{
    height: 463px;
}

#news{
    height: 546px;
    background-color: blue;
}

#news .new-1{
    height: 241px;
    background-color: yellow;
}

#news .new-1 .section1{
    float: left;
    width: 453px;
    height: 241px;
    background-color: white;
    padding-left: 22px;
    padding-right: 25px;
}

#news .new-1 .section1 ul li{
    list-style-position: inside;
    list-style-image: url("../img/liitem.png");
    line-height: 23px;
    height: 23px;
    width: 453px;

}

#news .new-1 .section1 h3{
    height: 83px;
    line-height:93px;
    font-size: 17px;
}

#news .new-1 .section1 a{
    font-size: 12px;
    text-decoration: none;
    color: #535353;
}

#news .new-1 .section1 span{
    float: right;
    font-size: 9px;
    color: #a9a9a9;
}

#news .new-1 .section2{
    padding-left: 25px;
    float: left;
    width: 215px;
    height: 241px;
    background-color:#f1f1f1;
}

#news .new-1 .section2 h3{
    width: 93px;
    line-height: 93px;
    font-size: 18px;
    color: #242424;
}

#news .new-1 .section2 .info1{
    line-height: 25px;
    font-size: 13px;
    width: 124px;
    color: #505050;
}

#news .new-1 .section2 .info2{
    padding-top: 13px;
    line-height: 25px;
    font-size: 11px;
    color: #949494;
    width: 178px;
}





#news .new-1 .section3{
    float: left;
    width: 259px;
    height: 241px;
    background-color:olive;
}

#news .new-2{
    height: 305px;
    background-color:palevioletred;
}

#footer{
    height: 331px;
    background-color: #e5e5e5;
}
